* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	@include respMax(374px) {
		font-size: 56.75%;
	}

	@include respMax(300px) {
		font-size: 50%;
	}
}

body {
	color: $color-white;
	font-size: 1.6rem;
	font-family: Helvetica;
	background-color: $color-secondary-bg;
}

.app {
	background-color: $color-primary-bg;
	max-width: 94rem;
	overflow: hidden;

	@include respMin(940px) {
		border-radius: 1.6rem;
		margin: 3rem auto 9.73rem;
	}
}

img {
	max-width: 100%;
}
