* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: $color-white;
  font-size: 1.6rem;
  font-family: Helvetica;
}

.app {
  background-color: $color-primary-bg;
  max-width: 94rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}
