.u-trapez-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 12.5rem;
  height: 0.4rem;
  background-color: $color-primary;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.u-trapez-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2.8rem;
  width: 0.4rem;
  background-color: $color-primary;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.u-arrow-down {
  div {
    width: 1rem;
    height: 1rem;
    border-top: 3px solid $color-gray;
    border-left: 3px solid $color-gray;
    transform: rotate(-135deg);
  }
}

.u-clock-icon {
  @include absCenterHv;
  font-size: 1rem;
  width: 2em;
  height: 2em;
  border: 0.3em solid $color-white;
  border-radius: 50%;

  div {
    position: absolute;
    right: 0.35em;
    top: 0.25em;
    border-bottom: 0.3em solid $color-white;
    border-left: 0.3em solid $color-white;
    width: 0.6em;
    height: 0.8em;
  }
}
