@mixin flexCenterHv {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absCenterHv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respMax($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin respMin($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}
