.section-cash-games {
	@include respMin(600px) {
		background-color: $color-bg-3;
		box-shadow: inset 0 0 0 0.4rem $color-bg-1;
	}

	&__heading {
		height: 6.7rem;
		border-radius: 1.6rem;
		background-color: $color-bg-1;
		font-weight: 600;
		font-size: 1.6rem;
		@include flexCenterHv;

		@include respMin(600px) {
			border-radius: 0;
		}
	}

	&-leaderboard__heading {
		text-align: center;
		margin: 1rem 0 2.1rem;
		font-size: 1.3rem;
		font-weight: 600;

		& img {
			position: relative;
			margin-left: 0.85rem;
			width: 2rem;
			top: 0.5rem;
		}
	}
}

.section-ny {
	background-color: $color-primary-bg;

	& > * {
		background-color: $color-bg-1;
	}

	&-leaderboard {
		border-radius: 1.6rem;
		margin-bottom: 2.4rem;
		background-color: $color-secondary-bg;
		overflow: hidden;

		@include respMin(600px) {
			background-color: $color-bg-3;
			box-shadow: inset 0 0 0 0.4rem $color-bg-1;
		}

		&__heading {
			border-radius: 1.6rem;
			font-weight: 600;
			padding: 2rem 4.45rem 2rem;
			margin-bottom: 2.075rem;
			background-color: $color-bg-1;
			text-align: center;

			@include respMin(600px) {
				border-radius: 0;
			}
		}

		&__toggle {
			width: 26.7rem;
			height: 3.8rem;
			border-radius: 7.6rem;
			border: 0.2rem solid $color-bg-1;
			margin: 0 auto 2.194rem;
			position: relative;

			span {
				text-align: left;
				font-size: 1.2rem;
				line-height: 3.3rem;
				margin-left: 2.05rem;
				font-weight: 600;
			}

			img {
				position: absolute;
				width: 3.8rem;
				height: 3.8rem;
				right: 0;
				top: -0.2rem;
			}
		}

		&__warning {
			font-size: 1.3rem;
			margin: -1.2rem 1.9rem 1.882rem;
			text-align: center;
		}
	}
}

.section-final {
	background-color: $color-primary-bg;
}

.fixed-btn-container {
	position: fixed;
	bottom: 0;
	z-index: 1000;
	height: 5.6rem;
	width: clamp(13.4rem, 100%, 94rem);
	background-color: $color-bg-3;
	border-top: 0.4rem solid $color-secondary;
	@include flexCenterHv;

	&__btn {
		color: $color-white;
		border: none;
		width: 13.4rem;
		height: 3.2rem;
		border-radius: 0.5rem;
		background-color: $color-secondary;
	}
}
