.daily-tourneys-and-satelites {
	background-color: $color-primary-bg;

	@include respMin(600px) {
		padding: 0 2.4rem;
		background-color: $color-bg-3;
		border-radius: 1.6rem;
		border: 0.4rem solid $color-secondary-bg;
		text-align: center;
	}

	&__p {
		font-size: 1.4rem;
		font-weight: 600;
		margin-bottom: 1.9rem;
		display: block;

		@include respMin(600px) {
			font-size: 1.8rem;
			margin: 2.4rem;
		}
	}

	&-tourney-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.4rem;
		margin-bottom: 1.4rem;

		@include respMin(940px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto auto;
			gap: 10px;

			&__tourney {
				width: 39.5rem;

				&:nth-child(1) {
					grid-row: 1 / 2;
					grid-column: 1 / 2;
				}

				&:nth-child(2) {
					grid-row: 1 / 2;
					grid-column: 2 / 3;
				}

				&:nth-child(3) {
					grid-row: 2 / 3;
					grid-column: 1 / 3;
				}
			}
		}

		&__tourney {
			height: 8.5rem;
			border-radius: 1rem;
			background-image: url(./assets/tournament-bg-m.png);
			background-size: cover;
			background-repeat: no-repeat;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 33.5rem;

			@include respMax(374px) {
				width: 90%;
				height: auto;
				padding: 2rem;
			}

			&__left {
				margin-left: 1.7rem;

				p {
					margin-left: 0.3rem;
					font-size: 1.4rem;
					font-weight: 600;
				}

				span {
					display: block;
					font-size: 2.4rem;
					color: $color-yellow;
					font-weight: bolder;
					margin-top: 0.2rem;
				}
			}

			&__right {
				margin-left: 1.5rem;

				p {
					margin-left: 1rem;
					font-size: 1.2rem;
					font-weight: 600;
				}

				span {
					display: block;
					width: 12rem;
					height: 2.5rem;
					line-height: 2.5rem;
					text-align: center;
					font-size: 1.4rem;
					background-color: $color-yellow-dark;
					font-weight: 600;
					border-radius: 1.5rem;
					border-bottom-right-radius: 0;
					margin-top: 0.6rem;
				}
			}

			@include respMin(940px) {
				width: 100%;
			}

			&:last-child {
				background-image: url(./assets/main-bg-sm.png);

				@include respMin(940px) {
					background-image: url(./assets/main-bg.png);
					width: 100%;
					margin-bottom: 0;
				}
			}

			&:last-child &__right span {
				background-color: $color-yellow-light;
			}
		}
	}

	&__warning {
		margin: 1.6rem auto 1rem;
		font-size: 1.4rem;
		text-align: center;

		@include respMin(600px) {
			margin: 2rem;
		}
	}
}
