* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1c1d1e;
  color: #ffffff;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

.heading-primary {
  font-size: 1.6rem;
}
.heading-primary--helvetica {
  font-family: helvetica;
}

.u-trapez-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 12.5rem;
  height: 0.4rem;
  background-color: #ef5a21;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.u-trapez-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2.8rem;
  width: 0.4rem;
  background-color: #ef5a21;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.u-arrow-down div {
  width: 1rem;
  height: 1rem;
  border-top: 3px solid #bbbbbb;
  border-left: 3px solid #bbbbbb;
  transform: rotate(-135deg);
}

.u-clock-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  width: 2em;
  height: 2em;
  border: 0.3em solid #ffffff;
  border-radius: 50%;
}
.u-clock-icon div {
  position: absolute;
  right: 0.35em;
  top: 0.25em;
  border-bottom: 0.3em solid #ffffff;
  border-left: 0.3em solid #ffffff;
  width: 0.6em;
  height: 0.8em;
}

.header {
  margin: 10.4rem 0 0;
}
.header-login {
  display: flex;
  justify-content: space-between;
  margin: 0 1.6rem;
  height: 3.2rem;
  align-items: center;
}
.header-login__left {
  display: flex;
  align-items: center;
}
.header-login__left__logo {
  width: 2.4rem;
  height: 2.4rem;
}
.header-login__right {
  font-size: 1.5rem;
}
.header-login__right__btn {
  line-height: 3.2rem;
  padding: 0.7rem;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.header-login__right__btn--active {
  line-height: 3.2rem;
  padding: 0.7rem;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  background-color: #ef602a;
  border-radius: 5px;
}
.header-text {
  margin: 1.6rem 1.6rem 2rem;
}
.header-text--primary {
  margin: 1.6rem 0;
  font-size: 1.6rem;
  font-weight: 600;
}
.header-text--secondary {
  font-size: 1.4rem;
  opacity: 0.9;
}
.header-text--secondary--slots {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  background-color: #25292b;
}
.header-nav {
  margin: 0 1.6rem;
  height: 9rem;
  display: flex;
  justify-content: center;
}
.header-nav-link {
  background-color: #2c3234;
  width: calc(33.3333333333% - 0.65rem);
  height: 7.7rem;
  position: relative;
  top: 0.65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}
.header-nav-link:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.header-nav-link:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.header-nav-link__p--primary {
  font-size: 1.2rem;
}
.header-nav-link__p--secondary {
  font-size: 1rem;
}
.header-nav-link--active {
  background-color: #ef5a21;
  height: 9rem;
  top: 0;
  width: calc(33.3333333333% + 1.3rem);
  border-radius: 8px;
}
.header-nav-link--active .header-nav-link__p--primary {
  font-size: 1.4rem;
}
.header-nav-link--active .header-nav-link__p--secondary {
  font-size: 1.1rem;
}

.main {
  margin: 2.5rem 1.6rem 5.5rem;
}
.main > * {
  background-color: #25292b;
  border-radius: 1.6rem;
  overflow: hidden;
}
.main-warning-small {
  text-align: center;
  font-size: 1.3rem;
  padding: 1.6rem 0 2rem;
}
.main-warning-small span {
  color: #ef5a21;
  text-decoration: underline;
  display: block;
}
.main-warning {
  position: relative;
  margin-top: 2.4rem;
  height: 14.2rem;
  border-radius: 1.6rem;
}
.main-warning__heading--primary {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 2.4rem 5.2rem 1.1rem;
}
.main-warning__heading--secondary {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 4.5rem 1.6rem;
}

.footer {
  margin: 0 1.6rem 22rem;
}
.footer-rules {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2.1rem 0 4rem;
}
.footer-rules__rule {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #25292b;
  border-radius: 0.8rem;
}
.footer-rules__rule span {
  font-size: 1.4rem;
  color: #bbbbbb;
  width: 22rem;
  padding: 0 1.4rem;
}
.footer-rules__rule .u-arrow-down {
  margin-right: 1.6rem;
}
.footer ::-webkit-scrollbar {
  display: none;
  height: 0.8rem;
}
.footer ::-webkit-scrollbar-track {
  background-color: transparent;
}
.footer ::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 3px;
}
.footer-deals {
  margin: 2.4rem 0 0;
  overflow-x: auto;
}
.footer-deals-container {
  min-width: 101rem;
  display: flex;
  justify-content: flex-start;
  gap: 1.6rem;
  margin-bottom: 0.5rem;
}
.footer-deals-container__deal {
  position: relative;
  width: 15.5rem;
  height: 18rem;
  border-radius: 5px;
  overflow: hidden;
}
.footer-deals-container__deal > * {
  position: absolute;
  z-index: 10;
}
.footer-deals-container__deal [class^=footer-deals-container__deal__gradient] {
  width: 15.5rem;
  height: 18rem;
  z-index: 9;
}
.footer-deals-container__deal__gradient--blue {
  background-image: linear-gradient(to top, #0d649b 18.5%, rgba(13, 100, 155, 0.9098039216) 37%, rgba(13, 100, 155, 0) 55.5%);
}
.footer-deals-container__deal__gradient--orange {
  background-image: linear-gradient(to top, #ef541c 18.5%, #ef541c 23.5%, rgba(239, 84, 28, 0.6) 37%, rgba(239, 84, 28, 0) 55.5%);
}
.footer-deals-container__deal__gradient--dark-blue {
  background-image: linear-gradient(to top, #1a176c 18.5%, rgba(26, 23, 108, 0.6) 37%, rgba(26, 23, 108, 0) 55.5%);
}
.footer-deals-container__deal__img {
  object-fit: cover;
  width: 15.5rem;
  height: 18rem;
  z-index: 8;
}
.footer-deals-container__deal-p-container {
  bottom: 1.6rem;
  padding: 0 1.4rem;
}
.footer-deals-container__deal-p-container__p--primary {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
}
.footer-deals-container__deal-p-container__p--secondary {
  font-size: 1.1rem;
}

.section-cash-games__heading {
  height: 6.7rem;
  border-radius: 1.6rem;
  background-color: #2c3234;
  font-weight: 600;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-cash-games-leaderboard__heading {
  text-align: center;
  margin: 1rem 0 2.1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.section-cash-games-leaderboard__heading img {
  position: relative;
  margin-left: 0.85rem;
  width: 2rem;
  top: 0.5rem;
}

.section-ny {
  background-color: #1c1d1e;
}
.section-ny > * {
  background-color: #2c3234;
}
.section-ny-leaderboard {
  border-radius: 1.6rem;
  margin-bottom: 2.4rem;
  background-color: #25292b;
  overflow: hidden;
}
.section-ny-leaderboard__heading {
  position: relative;
  border-radius: 1.6rem;
  font-weight: 600;
  height: 10.1rem;
  padding: 2.8rem 4.45rem 0;
  margin-bottom: 2.075rem;
  background-color: #2c3234;
  text-align: center;
}
.section-ny-leaderboard__toggle {
  width: 26.7rem;
  height: 3.8rem;
  border-radius: 7.6rem;
  border: 0.2rem solid #2c3234;
  margin: 0 auto 2.194rem;
  position: relative;
}
.section-ny-leaderboard__toggle span {
  text-align: left;
  font-size: 1.2rem;
  line-height: 3.3rem;
  margin-left: 2.05rem;
  font-weight: 600;
}
.section-ny-leaderboard__toggle .u-arrow-down {
  position: absolute;
  width: 3.8rem;
  height: 3.8rem;
  background-color: #f05a22;
  box-shadow: inset 0 0 1px 1px #ffffff;
  border-radius: 50%;
  right: 0;
  top: -0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-ny-leaderboard__toggle .u-arrow-down div {
  border-color: #ffffff;
}
.section-ny-leaderboard__warning {
  font-size: 1.3rem;
  margin: -1.2rem 1.9rem 1.882rem;
  text-align: center;
}
.section-ny__p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.9rem;
  background-color: #1c1d1e;
}
.section-ny__warning {
  background-color: #1c1d1e;
  margin-top: 1.6rem;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.fixed-btn-container {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  height: 5.6rem;
  width: 100%;
  background-color: #171718;
  border-top: 0.4rem solid #f05a22;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixed-btn-container__btn {
  border: none;
  width: 13.4rem;
  height: 3.2rem;
  border-radius: 0.5rem;
  background-color: #f05a22;
}

.leaderboard ::-webkit-scrollbar {
  width: 0.2rem;
}
.leaderboard ::-webkit-scrollbar-thumb {
  background-color: #f05a22;
  border-radius: 0.2rem;
}
.leaderboard-headers {
  margin: 0 1.4rem 1.6rem;
  display: flex;
  justify-content: space-between;
}
.leaderboard-headers span:last-child {
  margin-right: 4rem;
}
.leaderboard-container {
  margin: 0 1.45rem 2rem;
  height: 30rem;
  overflow: hidden;
  overflow-y: auto;
}
.leaderboard-container__entry {
  height: 4.5rem;
  background-color: #1e2122;
  border-radius: 7.6rem;
  border: 0.2rem solid #2c3234;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.6rem;
  margin-right: 0.7rem;
}
.leaderboard-container__entry:last-child {
  margin-bottom: 0;
}
.leaderboard-container__entry span {
  margin-left: 4rem;
}
.leaderboard-container__entry span:first-child {
  margin-left: 1.3rem;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: center;
  border-radius: 50%;
  background-color: #2c3234;
}
.leaderboard-container__entry span:last-child {
  margin-right: 2rem;
  margin-left: 0;
  width: 7.4rem;
  text-align: center;
}

.prizes__prize {
  height: 6.3rem;
  background-color: #2c3234;
  border-radius: 1.4rem;
  margin: 0 1.4rem 0.8rem;
  position: relative;
}
.prizes__prize > * {
  position: absolute;
}
.prizes__prize__img {
  left: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  width: 3.6rem;
}
.prizes__prize__text {
  left: 6.1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  font-size: 1.3rem;
}

.tourneys-and-satelites {
  position: relative;
  text-align: center;
  border-radius: 1.6rem;
  margin-bottom: 2rem;
}
.tourneys-and-satelites-banner__heading {
  background-color: #2c3234;
  display: block;
  height: 6.7rem;
  line-height: 6.7rem;
  font-weight: 600;
}
.tourneys-and-satelites-banner-img-container {
  background-color: #171718;
  position: relative;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
  overflow: hidden;
}
.tourneys-and-satelites-banner-img-container__heading {
  display: block;
  font-weight: 600;
  margin: 1.4rem auto 1.6rem;
}
.tourneys-and-satelites-banner-img-container-clock {
  border: 0.2rem solid #f05a22;
  border-radius: 1rem;
  width: 20rem;
  height: 3.2rem;
  margin: 0 auto 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.tourneys-and-satelites-banner-img-container-clock-icon {
  width: 3.6rem;
  height: 3.2rem;
  position: relative;
}
.tourneys-and-satelites-banner-img-container-clock-icon__background {
  position: absolute;
  background-color: #f05a22;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  top: -0.6rem;
  right: 0;
}
.tourneys-and-satelites-banner-img-container-clock__text {
  font-size: 1.3rem;
  margin-right: 1.211rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.tourneys-and-satelites-banner-img-container__img--left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.tourneys-and-satelites-banner-img-container__img--right {
  position: absolute;
  right: -0.6rem;
  bottom: 0;
}
.tourneys-and-satelites__warning {
  font-size: 1.4rem;
  margin: 1.6rem 1.1rem 1rem;
}
.tourneys-and-satelites__heading {
  font-size: 1.4rem;
  margin: 0 1rem 1.5rem;
  padding: 0 1rem;
}
.tourneys-and-satelites__btn {
  height: 3.2rem;
  width: 14.7rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f05a22;
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}

.daily-tourneys-and-satelites {
  background-color: #1c1d1e;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.daily-tourneys-and-satelites__tourney {
  height: 8.5rem;
  border-radius: 1rem;
  background-image: url(./assets/tournament-bg-m.png);
  display: flex;
  align-items: center;
}
.daily-tourneys-and-satelites__tourney__left {
  margin-left: 1.7rem;
}
.daily-tourneys-and-satelites__tourney__left p {
  margin-left: 0.3rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.daily-tourneys-and-satelites__tourney__left span {
  display: block;
  font-size: 2.4rem;
  color: #ffbe00;
  font-weight: bolder;
  margin-top: 0.2rem;
}
.daily-tourneys-and-satelites__tourney__right {
  margin-left: 1.5rem;
}
.daily-tourneys-and-satelites__tourney__right p {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.daily-tourneys-and-satelites__tourney__right span {
  display: block;
  width: 12rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: #b78648;
  font-weight: 600;
  border-radius: 1.5rem;
  border-bottom-right-radius: 0;
  margin-top: 0.6rem;
}
.daily-tourneys-and-satelites__tourney:last-child {
  background-image: url(./assets/main-bg-sm.png);
}
.daily-tourneys-and-satelites__tourney:last-child .daily-tourneys-and-satelites__tourney__right span {
  background-color: #d7c860;
}

/*# sourceMappingURL=App.css.map */
